* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: all 1s ease-out;
}

body {
  height: 100vh;
  width: 100vw;
}

footer {
  background-color: #202124;
  color: white;
  text-align: center;
  padding: 10px;
}

.button_holder {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  align-self: flex-start;
}
.button_holder button {
  width: 20%;
  height: 100px;
  border-radius: 25px;
  border-width: 0px;
  padding: 1em;
  margin: 1em;
  font-size: 40px;
  color: white;
  line-height: 0;
  cursor: pointer;
}
.button_holder .easy {
  background-color: #34a853;
}
.button_holder .medium {
  background-color: #fbbc05;
}
.button_holder .hard {
  background-color: #ea4335;
}
.button_holder .reveal {
  background-color: #4285f4;
}

.scene_holder {
  height: 95vh;
}
.scene_holder .movie_scene {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  /* align-items: center; */
  text-align: center;
  flex-direction: column;
  font-size: 100px;
  color: white;
  width: 100%;
}
.scene_holder .movie_title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px 100px;
  /* visibility: hidden; */
  opacity: 0;
  justify-self: center;
}

/*# sourceMappingURL=style.css.map */
