* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: #202124;
}

header {
  color: #f1f1f1;
  background-color: #f1f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1px 1em;
  height: calc(5vh - 2px);
  width: 100vw;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

header #progressbar {
  position: absolute;
  display: block;
  top: 0px;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #202124;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

header #timer {
  position: fixed;
  top: 0;
  right: 10px;
  color: #202124;
}

header #spoiler {
  position: fixed;
  top: 0;
  left: 10px;
  mix-blend-mode: difference;
}

footer {
  background-color: #202124;
  color: #f1f1f1;
  text-align: center;
}

.button_holder, .button_holder--active {
  display: -ms-grid;
  display: grid;
  margin: 0;
  height: 5vh;
  width: 100%;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 5vh;
      grid-template-rows: 5vh;
      grid-template-areas: "easy normal hard";
}

.button_holder--active {
      grid-template-areas: "reveal";
}

.button_holder button, .button_holder--active button {
  height: 100%;
  border-width: 0px;
  padding: 0;
  margin: 0;
  font-size: 3.5vh;
  color: #f1f1f1;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  width: calc(100vw / 3);
}

.button_holder .easy, .button_holder--active .easy {
  background-color: #34a853;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: easy;
}

.button_holder .medium, .button_holder--active .medium {
  background-color: #fbbc05;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: normal;
}

.button_holder .hard, .button_holder--active .hard {
  background-color: #ea4335;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: hard;
}

.button_holder .reveal, .button_holder--active .reveal {
  background-color: #4285f4;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: reveal;
  width: 100vw;
}

.scene_holder {
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.scene_holder .movie_scene {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 5vh;
  color: #f1f1f1;
  width: 100%;
}

.scene_holder .movie_title {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10vh 10vw;
  line-height: 0.85;
  -ms-grid-column-align: center;
      justify-self: center;
  top: 25vh;
  position: relative;
}
/*# sourceMappingURL=main.css.map */