// Make sure you have Sass installed glabaly
// Run ==> sass --watch scss/main.scss css/style.css
// Import base
@import "./base/colors", "./base/default", "./base/fonts";
// Import Layout
// @import "./layout/Header", "./layout/Hero";


*{
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
  // transition: all 0.6s ease-out; 
}

body{
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow: hidden;
  background-color: $color-black;

}

header{
  // background-color: $color-black;
  color: $color-white;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 1em;
  height:calc(5vh - 2px);
  width:100vw;
  transition: all 1s linear;   

  #progressbar{
    position: absolute;
    display: block;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: $color-black;
    transition: all 1s linear; 

  }

  #timer{
    position: fixed;
    top:0;
    right:10px;
    color: $color-black;
  }
  #spoiler{
    position: fixed;
    top:0;
    left:10px;
    mix-blend-mode: difference;

  }
}

footer{
  background-color: $color-black;
  color:$color-white;
  text-align: center;
  // padding: 10px;
}

.button_holder{
  display: grid;
  margin:0;
  height: 5vh;
  // justify-content: space-around;
  // align-items: center;
  // align-self: flex-start;
  width:100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 5vh;
  grid-template-areas: "easy normal hard";

  &--active{
    @extend .button_holder;
    grid-template-areas: "reveal";
  }
 
  button{
    // width: 25%;
    height:100%;
    // border-radius: 0px;
    border-width: 0px;
    padding:0;
    margin:0;
    font-size: 3.5vh;
    color:$color-white;
    line-height: 0;
    text-align: center;
    cursor:pointer;
    width: calc(100vw / 3);;

  }

  .easy{
    background-color:$color-green;
    grid-area: easy;
  }
  .medium{
    background-color:$color-yellow;
    grid-area: normal;

  }
  .hard{
    background-color:$color-red;
    grid-area: hard;

  }
  .reveal{
    background-color: $color-blue;
    grid-area: reveal;
    width: 100vw;
  }
}

.scene_holder{
  height:95vh;
  display: flex;

  .movie_scene{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 90vh;
    display: flex;
    // justify-content: center;
    /* align-items: center; */
    text-align: center;
    flex-direction: column;
    font-size: 5vh;
    color:$color-white;
    width:100%;
  }

  .movie_title{
    background-color: rgba(0,0,0,0.7);
    padding: 10vh 10vw;
    // opacity: 0;
    line-height: 0.85;
    justify-self: center;
    top:25vh;
    position: relative;
  }
}




